* {
    margin: 0;
    padding: 0;
}

html {
 /* display: flex;
 justify-content: center;
 align-content: center; */
 width: 100%;
 height: 100%;
}

body {
 background-color: yellow;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-content: center;
 flex-wrap: wrap;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: red;
    border: 2px solid rgb(92, 0, 0);
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 400px;
    justify-items: center;
    align-items: center;
    border-radius: 20px;

}

#grid-container {
    background-color: white;
    height: 285px;
    width: 450px;
    margin: 20px;
}

button {
    margin-top: 10px;
}